<div class="container p-5">
  <div class="row">
    <div
    class="col-6 border border-light rounded p-5 shadow"
    *ngIf="produtos"
  >
    <table class="table table-striped table-hover table-auto-layout">
      <h6>Produtos</h6>
      <tr>
        <td><b>descricao</b></td>
        <td><b>cor</b></td>
        <td><b>preco</b></td>
        <td><b>tamanho</b></td>
      </tr>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.status }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.cor }}</td>
        <td>{{ produto.tamanho }}</td>
      </tr>
    </table>
  </div>
    <div
      class="col-6 border border-light rounded p-5 shadow"
      *ngIf="formulario"
    >
      <h6>{{ tituloFormulario }}</h6>
      <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
        <div class="form-group">
          <label>Descrição</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="descricao"
          />
        </div>
        <div class="form-group">
          <label>Cor</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="cor"
          />
        </div>
        <div class="form-group">
          <label>Preco</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="preco"
          />
        </div>
        <div class="form-group">
          <label>Tamanho</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="tamanho"
          />
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-outline-secondary">
                Salvar
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-sm btn-light">Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
